h1 {color: Blue;}

.container {background-color: Green;}

body {background-color: Purple;}

.navbar li {
  display: inline;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b5/Metal_Gear_Solid_logo.png");
}

.login {
  float: right;
}
.login a {
 cursor: pointer;
 margin-right: 30px;
 padding: 8px 18px;
 border: 1px solid #204156;
 position: relative;
}

login a:active {
  top: 5px;
}
